body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-bottom: 300px;
}

section {
    min-height: 80vh;
    padding: 50px;
    border-bottom: 2px dashed #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-flex {
    display: flex;
    gap: 20px;
}

.box {
    width: 100px;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-weight: bold;
}

.box-red { background: red; }
.box-green { background: green; }
.box-blue { background: blue; }
.box-orange { background: orange; }

/* GSAP */
.gsap-box {
    opacity: 0;
    transform: translateX(-100px);
}

/* Bài 4 */
.header-anim {
    background: #333;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.hero-cta {
    padding: 12px 30px;
    background: red;
    color: white;
    border: none;
    font-size: 18px;
}

/* Bài 5 */
.card-list {
    display: flex;
    gap: 20px;
}

.card {
    width: 150px;
    height: 200px;
    background: purple;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(50px);
}
@keyframes blinkColor {
    0% {
        background: #e74c3c; /* đỏ */
        color: white;
    }
    50% {
        background: #f1c40f; /* vàng */
        color: black;
    }
    100% {
        background: #e74c3c;
        color: white;
    }
}

.hero-cta {
    padding: 12px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    animation: blinkColor 1s infinite;
}
body {
    margin: 0;
    padding: 20px;
    background: black;
    color: white;
}
